<div class="flex justify-center items-center min-h-[80vh] bg-gray-100">
  <mat-card class="w-full max-w-md p-10 shadow-2xl !bg-[#333333]">
    
    <mat-card-header class="justify-center mb-8">
      <mat-card-title class="text-3xl font-bold text-white uppercase tracking-widest text-center w-full">
        Iniciar sesión
      </mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="onLogin()" class="flex flex-col space-y-6">
      <mat-form-field appearance="outline" class="w-full custom-field">
        <mat-label class="text-gray-300">Usuario o Email</mat-label>
        <input matInput name="username" [(ngModel)]="loginData.username" required class="text-white">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full custom-field">
        <mat-label class="text-gray-300">Contraseña</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="loginData.password" required class="text-white">
      </mat-form-field>

      <button mat-flat-button type="submit" 
              class="w-full !py-8 !text-lg font-bold !bg-[#D81B60] !text-white hover:opacity-90 transition-opacity uppercase">
        Entrar
      </button>
    </form>
  </mat-card>
</div>